<div id="help-payment-partial-contents">
	<p>It is not recommended to use this form to take payments under project from any client, you better visit the projects page and use modal payment interface to accept payments.</p>	
</div>	
