jQuery(document).ready(function(){
	
    jQuery('#payment_project_id').on('change', function(){
    	$('#project-payment-partial-contents').html('Updating...');
    	if ( $(this).val() == "" ) {
    		$('#project-payment-partial-contents').html('<p>Please select a project on the form to get that selected projects payment status here.</p>')
    	} else {
    		$('#project-payment-partial-contents').load('/payments/project_payments/'+$(this).val());
    	}
    });
    
    
    
    jQuery('#payment_client_id').on('change', function(){
    	$('#client-payment-partial-contents').html('Updating...');
    	if ( $(this).val() == "" ) {
    		$('#client-payment-partial-contents').html('<p>Please select a client on the form to get that selected client projects payment status here.</p>	')
    	} else {
    		$('#client-payment-partial-contents').load('/payments/client_payments/'+$(this).val());
    	}
    });
    
    
    jQuery('#sidebar #new_payment').on('submit', function(){
    	if ( $('#payment_amount').val() == '' || $('#payment_amount').val() == 'undefined' ) {
    		alert("Please add some amount first.");
    		return false;	
    	} 
    	
    	
    	if ( $('#payment_paid_on_1i').val() == '' || $('#payment_paid_on_1i').val() == 'undefined' ) {
    		alert("Please select a year for the payment date.");
    		return false;	
    	} 
    	
    	if ( $('#payment_paid_on_2i').val() == '' || $('#payment_paid_on_2i').val() == 'undefined' ) {
    		alert("Please select a month for the payment date.");
    		return false;	
    	} 
    	
    	if ( $('#payment_paid_on_3i').val() == '' || $('#payment_paid_on_3i').val() == 'undefined' ) {
    		alert("Please select a day for the payment date.");
    		return false;	
    	} 
    	
    	return true;	
    });
    
	jQuery('#sidebar #new_payment').on('ajax:success', function(){
		$('#project-payment-partial-contents').html('Updating...');
    	$('#project-payment-partial-contents').load('/payments/project_payments/'+$('#payment_project_id').val());
    });
    
});